<!DOCTYPE html>
<html>
  <head>
    <title>Blocipedia</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <li><%= link_to "blocipedia", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Wiki", wikis_path %></li>

        <div class="pull-right user-info nav">
          <% if user_signed_in? %>
            <li class="pull-right"><%= link_to "Sign Out", destroy_user_session_path, method: :delete%></li>
            <li class="pull-right"><%= image_tag current_user.avatar_url(48)%></li>
            <li class="pull-right"><%= link_to current_user.email, edit_user_registration_path(current_user) %></li>

          <% else %>
            <li class="pull-right"><%= link_to "Sign In", new_user_session_path, class: 'nav-tabs' %></li>
            <li class="pull-right"><%= link_to "Sign Up", new_user_registration_path, class: 'nav-tabs'  %></li>
          <% end %>
        </div>
      </ul>
      <%= yield %>
    </div>

  </body>
</html>
